In [9]:
#Import dependencies
import pandas as pd
import gmaps
import requests
#Import API key
from config import gkey

In [10]:
#store the csv files in a DF
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Le Port,RE,2022-08-04 18:07:02,-20.9373,55.2919,21.25,60,69,3.26
1,1,Albany,US,2022-08-04 18:05:32,42.6001,-73.9662,36.46,46,7,3.78
2,2,Khatanga,RU,2022-08-04 18:07:03,71.9667,102.5000,12.16,70,96,2.46
3,3,Manzhouli,CN,2022-08-04 18:07:03,49.6000,117.4333,16.50,73,21,9.36
4,4,Hermanus,ZA,2022-08-04 18:07:04,-34.4187,19.2345,10.45,79,62,3.87
...,...,...,...,...,...,...,...,...,...,...
561,561,Avon Park,US,2022-08-04 18:24:07,27.5959,-81.5062,34.33,68,9,4.12
562,562,Petukhovo,RU,2022-08-04 18:24:08,55.0692,67.9019,16.67,79,5,2.83
563,563,Mto Wa Mbu,TZ,2022-08-04 18:24:08,-3.3500,35.8500,19.20,69,54,1.30
564,564,Sibu,MY,2022-08-04 18:24:09,2.3000,111.8167,24.17,100,40,1.03
565,565,Winnemucca,US,2022-08-04 18:24:09,40.9730,-117.7357,32.03,27,0,1.54

In [ ]:
city_data_df.dtypes

In [ ]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=gkey)

In [ ]:
#create heatmap max temp
#1. add the latitude and longitude into an array to create points or locations to be able to plot in a map
locations = city_data_df[["Lat","Lng"]]
#2. Get Maximum Temperature.
max_temp = city_data_df["Max Temp"]
#3. Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating= False, max_intensity=200,
                                point_radius=3)
#5. Add the heatmap layer
fig.add_layer(heat_layer)
#6. plot the figure

fig

In [ ]:
#create heatmap max temp
#1. add the latitude and longitude into an array to create points or locations to be able to plot in a map
locations = city_data_df[["Lat","Lng"]]
#2. Get Maximum Temperature.
cloudiness = city_data_df["Cloudiness"]
#3. Assign the figure variable
fig_2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the heatmap variable
cloud_layer = gmaps.heatmap_layer(locations, weights=[max(cloud, 0) for cloud in cloudiness], dissipating= False, max_intensity=400,
                                point_radius=3)
#5. Add the heatmap layer
fig_2.add_layer(cloud_layer)
#6. plot the figure
fig_2

In [ ]:
#create heatmap max temp
#1. add the latitude and longitude into an array to create points or locations to be able to plot in a map
locations = city_data_df[["Lat","Lng"]]
#2. Get Humidity.
humidity = city_data_df["Humidity"]
#3. Assign the figure variable
fig_3 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the humidity variable
humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating= False, max_intensity=400,
                                point_radius=3)
#5. Add the heatmap layer
fig_3.add_layer(humidity_layer)
#6. plot the figure
fig_3

In [ ]:

#1. add the latitude and longitude into an array to create points or locations to be able to plot in a map
locations = city_data_df[["Lat","Lng"]]
#2. Get Humidity.
wind = city_data_df["Wind Speed"]
#3. Assign the figure variable
fig_4 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the humidity variable
wind_layer = gmaps.heatmap_layer(locations, weights=[max(speed, 0) for speed in wind], dissipating= False, max_intensity=50,
                                point_radius=3)
#5. Add the heatmap layer
fig_4.add_layer(wind_layer)
#6. plot the figure
fig_4

In [6]:
# Ask customer minimum and maximum temp value.
min_temp = float(input("What is the minimum temperature in celcius you would like for your trip?"))
max_temp = float(input("What is the maximum temperature in celcius  you would like for your trip?"))

What is the minimum temperature in celcius you would like for your trip?22
What is the maximum temperature in celcius  you would like for your trip?30

In [11]:
#Filter dataset to find the cities that fit in the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Guasdualito,VE,2022-08-04 18:07:06,7.2424,-70.7324,27.52,76,99,1.25
16,16,Kapaa,US,2022-08-04 18:05:50,22.0752,-159.3190,26.99,89,40,2.57
19,19,Praia Da Vitoria,PT,2022-08-04 18:07:13,38.7333,-27.0667,27.09,85,49,1.10
22,22,Atuona,PF,2022-08-04 18:07:14,-9.8000,-139.0333,25.22,69,14,8.12
26,26,Tura,IN,2022-08-04 18:07:17,25.5198,90.2201,23.87,92,48,1.18
27,27,Zhaoyang,CN,2022-08-04 18:07:17,42.6820,126.0305,22.07,96,79,3.34
28,28,Noumea,NC,2022-08-04 18:03:41,-22.2763,166.4572,23.89,99,54,3.99
30,30,Dharchula,IN,2022-08-04 18:07:19,29.8500,80.5333,23.12,96,100,0.28
36,36,Castro,BR,2022-08-04 18:04:36,-24.7911,-50.0119,26.32,39,6,5.19
37,37,Lethem,GY,2022-08-04 18:07:23,3.3803,-59.7968,29.64,69,66,1.20

In [12]:
preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       224
City          224
Country       224
Date          224
Lat           224
Lng           224
Max Temp      224
Humidity      224
Cloudiness    224
Wind Speed    224
dtype: int64

In [13]:
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat","Lng" ]].copy()

In [14]:
hotel_df

                 City Country  Max Temp      Lat       Lng
7         Guasdualito      VE     27.52   7.2424  -70.7324
16              Kapaa      US     26.99  22.0752 -159.3190
19   Praia Da Vitoria      PT     27.09  38.7333  -27.0667
22             Atuona      PF     25.22  -9.8000 -139.0333
26               Tura      IN     23.87  25.5198   90.2201
..                ...     ...       ...      ...       ...
554       Miandrivazo      MG     23.24 -19.5167   45.4667
556         Gushikawa      JP     27.57  26.3544  127.8686
559           Mersing      MY     24.95   2.4312  103.8405
560              Nara      JP     26.94  34.6851  135.8049
564              Sibu      MY     24.17   2.3000  111.8167

[224 rows x 5 columns]

In [15]:
#set parameters to search a hotel
params = {
    "radius":5000,
    "type":"lodging",
    "key":gkey
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig