## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [14]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Hobart,-42.8794,147.3294,6.14,90,0,0.00,AU,2022-08-11 20:59:14,clear sky
1,1,Nijar,36.9665,-2.2060,26.80,54,0,1.54,ES,2022-08-11 20:59:15,clear sky
2,2,Tuktoyaktuk,69.4541,-133.0374,12.00,82,75,7.72,CA,2022-08-11 20:59:15,broken clouds
3,3,Henties Bay,-22.1160,14.2845,12.44,91,1,4.39,NaN,2022-08-11 20:59:16,clear sky
4,4,Georgetown,5.4112,100.3354,28.83,90,20,1.03,MY,2022-08-11 20:57:47,few clouds

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature in celcius you would like for your trip?"))
max_temp = float(input("What is the maximum temperature in celcius  you would like for your trip?"))

What is the minimum temperature in celcius you would like for your trip?22
What is the maximum temperature in celcius  you would like for your trip?30

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Nijar,36.9665,-2.2060,26.80,54,0,1.54,ES,2022-08-11 20:59:15,clear sky
4,4,Georgetown,5.4112,100.3354,28.83,90,20,1.03,MY,2022-08-11 20:57:47,few clouds
7,7,Kapaa,22.0752,-159.3190,28.99,72,70,2.24,US,2022-08-11 20:59:17,broken clouds
9,9,Vila Franca Do Campo,37.7167,-25.4333,22.23,85,49,3.27,PT,2022-08-11 20:59:18,scattered clouds
19,19,Hilo,19.7297,-155.0900,27.92,93,78,0.89,US,2022-08-11 20:59:21,broken clouds
20,20,Avarua,-21.2078,-159.7750,25.03,73,20,6.17,CK,2022-08-11 20:54:39,few clouds
25,25,Rikitea,-23.1203,-134.9692,22.79,71,69,9.71,PF,2022-08-11 20:59:23,broken clouds
36,36,Koundara,12.4833,-13.3000,24.33,96,79,2.21,GN,2022-08-11 20:59:27,light rain
43,43,Atuona,-9.8000,-139.0333,25.10,68,40,11.41,PF,2022-08-11 20:59:30,scattered clouds
44,44,Kavieng,-2.5744,150.7967,27.17,79,95,5.75,PG,2022-08-11 20:59:30,light rain

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isna().count()

Unnamed: 0             279
City                   279
Lat                    279
Lng                    279
Max Temp               279
Humidity               279
Cloudiness             279
Wind Speed             279
Country                279
Date                   279
Current Description    279
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Nijar,36.9665,-2.2060,26.80,54,0,1.54,ES,2022-08-11 20:59:15,clear sky
4,4,Georgetown,5.4112,100.3354,28.83,90,20,1.03,MY,2022-08-11 20:57:47,few clouds
7,7,Kapaa,22.0752,-159.3190,28.99,72,70,2.24,US,2022-08-11 20:59:17,broken clouds
9,9,Vila Franca Do Campo,37.7167,-25.4333,22.23,85,49,3.27,PT,2022-08-11 20:59:18,scattered clouds
19,19,Hilo,19.7297,-155.0900,27.92,93,78,0.89,US,2022-08-11 20:59:21,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
679,679,Belmonte,-15.8631,-38.8828,23.96,83,71,4.56,BR,2022-08-11 21:17:31,broken clouds
683,683,Roma,43.2128,-75.4557,27.63,53,0,6.26,US,2022-08-11 21:17:33,clear sky
688,688,Zhangye,38.9342,100.4517,27.08,54,2,0.94,CN,2022-08-11 21:17:35,clear sky
693,693,Marzuq,14.4000,46.4667,25.94,69,100,2.37,YE,2022-08-11 21:18:37,overcast clouds
696,696,Sajanan,37.0573,9.2426,24.51,74,0,1.26,TN,2022-08-11 21:18:38,clear sky

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Nijar,ES,26.80,clear sky,36.9665,-2.2060,
4,Georgetown,MY,28.83,few clouds,5.4112,100.3354,
7,Kapaa,US,28.99,broken clouds,22.0752,-159.3190,
9,Vila Franca Do Campo,PT,22.23,scattered clouds,37.7167,-25.4333,
19,Hilo,US,27.92,broken clouds,19.7297,-155.0900,
20,Avarua,CK,25.03,few clouds,-21.2078,-159.7750,
25,Rikitea,PF,22.79,broken clouds,-23.1203,-134.9692,
36,Koundara,GN,24.33,light rain,12.4833,-13.3000,
43,Atuona,PF,25.10,scattered clouds,-9.8000,-139.0333,
44,Kavieng,PG,27.17,light rain,-2.5744,150.7967,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df[] = hotel_df.dropna()

In [29]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Nijar,ES,26.80,clear sky,36.9665,-2.2060,La Casa del Cine
4,Georgetown,MY,28.83,few clouds,5.4112,100.3354,Cititel Penang
7,Kapaa,US,28.99,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort Hotel
9,Vila Franca Do Campo,PT,22.23,scattered clouds,37.7167,-25.4333,Pestana Bahia Praia
19,Hilo,US,27.92,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
679,Belmonte,BR,23.96,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
683,Roma,US,27.63,clear sky,43.2128,-75.4557,Wingate By Wyndham Rome
688,Zhangye,CN,27.08,clear sky,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
693,Marzuq,YE,25.94,overcast clouds,14.4000,46.4667,
696,Sajanan,TN,24.51,clear sky,37.0573,9.2426,Mine de Dhoihria

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °C</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))